.input.is-danger.messInput{
    width: 100px;
}
.input.is-success.messInput{
    width: 100px;
}

.control .input{
    width: 100%;
}

.columns{
    margin-top: 1.5rem;
}

.field.is-grouped{
    margin-top: 1rem;
}